-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: wms_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `activity_logs`
--

DROP TABLE IF EXISTS `activity_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `activity_logs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(10) unsigned DEFAULT NULL COMMENT 'User who performed the action (NULL for system)',
  `action` varchar(100) NOT NULL COMMENT 'Action type: login, logout, create, update, delete',
  `entity_type` varchar(50) DEFAULT NULL COMMENT 'Entity type affected: user, product, inventory',
  `entity_id` int(10) unsigned DEFAULT NULL COMMENT 'ID of the affected entity',
  `old_values` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Previous values before change' CHECK (json_valid(`old_values`)),
  `new_values` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'New values after change' CHECK (json_valid(`new_values`)),
  `ip_address` varchar(45) DEFAULT NULL COMMENT 'Client IP address',
  `user_agent` varchar(500) DEFAULT NULL COMMENT 'Browser/client user agent',
  `description` text DEFAULT NULL COMMENT 'Human readable description',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_activity_logs_user_id` (`user_id`),
  KEY `idx_activity_logs_action` (`action`),
  KEY `idx_activity_logs_entity` (`entity_type`,`entity_id`),
  KEY `idx_activity_logs_created_at` (`created_at`),
  CONSTRAINT `fk_activity_logs_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Audit trail for all system activities';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `attribute_values`
--

DROP TABLE IF EXISTS `attribute_values`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `attribute_values` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `attribute_id` int(10) unsigned NOT NULL,
  `value` varchar(100) NOT NULL COMMENT 'Gi?? tr??? l??u DB: black, 64gb, xl',
  `display_value` varchar(100) NOT NULL COMMENT 'Gi?? tr??? hi???n th???: ??en, 64GB, XL',
  `color_code` varchar(7) DEFAULT NULL COMMENT 'M?? m??u HEX n???u type=color: #000000',
  `image_url` varchar(500) DEFAULT NULL COMMENT 'H??nh ???nh c???a gi?? tr??? (n???u c??)',
  `sort_order` int(11) NOT NULL DEFAULT 0,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_attribute_value` (`attribute_id`,`value`),
  KEY `idx_attribute_values_attribute_id` (`attribute_id`),
  KEY `idx_attribute_values_is_active` (`is_active`),
  CONSTRAINT `fk_attribute_values_attribute` FOREIGN KEY (`attribute_id`) REFERENCES `attributes` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=162 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Gi?? tr??? c???a thu???c t??nh bi???n th???';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `attributes`
--

DROP TABLE IF EXISTS `attributes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `attributes` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL COMMENT 'T??n thu???c t??nh: color, size, storage',
  `display_name` varchar(100) NOT NULL COMMENT 'T??n hi???n th???: M??u s???c, K??ch th?????c',
  `type` enum('select','color','text') NOT NULL DEFAULT 'select' COMMENT 'Lo???i input UI',
  `sort_order` int(11) NOT NULL DEFAULT 0,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  KEY `idx_attributes_name` (`name`),
  KEY `idx_attributes_is_active` (`is_active`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Lo???i thu???c t??nh bi???n th??? - kh??ng ph??? thu???c danh m???c';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cart_items`
--

DROP TABLE IF EXISTS `cart_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cart_items` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `cart_id` int(10) unsigned NOT NULL,
  `product_id` int(10) unsigned NOT NULL,
  `product_variant_id` int(10) unsigned DEFAULT NULL,
  `quantity` int(11) NOT NULL DEFAULT 1,
  `unit_price` decimal(15,2) NOT NULL DEFAULT 0.00,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_cart_variant` (`cart_id`,`product_variant_id`),
  KEY `idx_cart_items_cart_id` (`cart_id`),
  KEY `idx_cart_items_product_id` (`product_id`),
  KEY `idx_cart_items_variant_id` (`product_variant_id`),
  CONSTRAINT `fk_cart_items_cart` FOREIGN KEY (`cart_id`) REFERENCES `carts` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_cart_items_product` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_cart_items_variant` FOREIGN KEY (`product_variant_id`) REFERENCES `product_variants` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=76 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Cart items';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `carts`
--

DROP TABLE IF EXISTS `carts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `carts` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(10) unsigned DEFAULT NULL COMMENT 'FK to users (NULL for guest)',
  `session_id` varchar(100) DEFAULT NULL COMMENT 'Session ID for guest cart',
  `total_items` int(10) unsigned NOT NULL DEFAULT 0,
  `total_quantity` int(11) NOT NULL DEFAULT 0,
  `subtotal` decimal(15,2) NOT NULL DEFAULT 0.00,
  `coupon_code` varchar(50) DEFAULT NULL,
  `coupon_discount` decimal(15,2) NOT NULL DEFAULT 0.00,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `expires_at` timestamp NULL DEFAULT NULL COMMENT 'Cart expiry for cleanup',
  PRIMARY KEY (`id`),
  KEY `idx_carts_user_id` (`user_id`),
  KEY `idx_carts_session_id` (`session_id`),
  KEY `idx_carts_expires_at` (`expires_at`),
  CONSTRAINT `fk_carts_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Shopping cart';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `categories`
--

DROP TABLE IF EXISTS `categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `categories` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `parent_id` int(10) unsigned DEFAULT NULL COMMENT 'Parent category ID for hierarchy',
  `code` varchar(50) NOT NULL COMMENT 'Category code',
  `name` varchar(100) NOT NULL COMMENT 'Category name',
  `description` text DEFAULT NULL,
  `image_url` varchar(500) DEFAULT NULL,
  `level` int(10) unsigned NOT NULL DEFAULT 0 COMMENT 'Hierarchy level (0=root)',
  `path` varchar(255) DEFAULT NULL COMMENT 'Full path: /1/5/12/ for breadcrumb',
  `sort_order` int(11) NOT NULL DEFAULT 0,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `deleted_at` timestamp NULL DEFAULT NULL,
  `variant_types` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`variant_types`)),
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`),
  KEY `idx_categories_parent_id` (`parent_id`),
  KEY `idx_categories_code` (`code`),
  KEY `idx_categories_level` (`level`),
  KEY `idx_categories_is_active` (`is_active`),
  KEY `idx_categories_deleted_at` (`deleted_at`),
  CONSTRAINT `fk_categories_parent` FOREIGN KEY (`parent_id`) REFERENCES `categories` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Product categories with hierarchical support';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `customers`
--

DROP TABLE IF EXISTS `customers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `customers` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `code` varchar(20) NOT NULL COMMENT 'Customer code: CUS-0001',
  `user_id` int(10) unsigned DEFAULT NULL COMMENT 'FK to users if customer has account',
  `name` varchar(255) NOT NULL COMMENT 'Customer name',
  `email` varchar(100) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `address` varchar(500) DEFAULT NULL,
  `ward` varchar(100) DEFAULT NULL,
  `district` varchar(100) DEFAULT NULL,
  `city` varchar(100) DEFAULT NULL,
  `tax_id` varchar(50) DEFAULT NULL COMMENT 'Tax ID for B2B',
  `company_name` varchar(255) DEFAULT NULL COMMENT 'Company name for B2B',
  `customer_type` enum('individual','company') NOT NULL DEFAULT 'individual',
  `status` enum('active','inactive','blacklisted') NOT NULL DEFAULT 'active',
  `notes` text DEFAULT NULL,
  `total_orders` int(10) unsigned NOT NULL DEFAULT 0 COMMENT 'Total order count',
  `total_spent` decimal(15,2) NOT NULL DEFAULT 0.00 COMMENT 'Total amount spent',
  `created_by` int(10) unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`),
  KEY `idx_customers_code` (`code`),
  KEY `idx_customers_user_id` (`user_id`),
  KEY `idx_customers_email` (`email`),
  KEY `idx_customers_phone` (`phone`),
  KEY `idx_customers_status` (`status`),
  KEY `idx_customers_deleted_at` (`deleted_at`),
  KEY `fk_customers_created_by` (`created_by`),
  CONSTRAINT `fk_customers_created_by` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_customers_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Customer master data';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `document_sequences`
--

DROP TABLE IF EXISTS `document_sequences`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `document_sequences` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `document_type` varchar(50) NOT NULL COMMENT 'GR, GI, TR, ST, ORD, PAY, TKT...',
  `prefix` varchar(20) NOT NULL DEFAULT '' COMMENT 'Document prefix',
  `suffix` varchar(20) NOT NULL DEFAULT '' COMMENT 'Document suffix',
  `current_number` bigint(20) unsigned NOT NULL DEFAULT 0,
  `number_length` int(10) unsigned NOT NULL DEFAULT 6 COMMENT 'Zero-padded length',
  `reset_period` enum('never','daily','monthly','yearly') NOT NULL DEFAULT 'yearly',
  `last_reset_date` date DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `document_type` (`document_type`),
  KEY `idx_document_sequences_type` (`document_type`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Auto-incrementing document number sequences';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `export_receipt_items`
--

DROP TABLE IF EXISTS `export_receipt_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `export_receipt_items` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `export_receipt_id` int(10) unsigned NOT NULL,
  `product_id` int(10) unsigned NOT NULL,
  `product_variant_id` int(10) unsigned DEFAULT NULL,
  `quantity_requested` int(11) DEFAULT 0 COMMENT 'Sß╗æ l╞░ß╗úng y├¬u cß║ºu',
  `quantity_actual` int(11) DEFAULT 0 COMMENT 'Sß╗æ l╞░ß╗úng thß╗▒c xuß║Ñt',
  `unit_price` decimal(15,2) DEFAULT 0.00 COMMENT '─É╞ín gi├í',
  `line_total` decimal(15,2) DEFAULT 0.00 COMMENT 'Th├ánh tiß╗ün',
  `notes` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `export_receipt_id` (`export_receipt_id`),
  KEY `product_id` (`product_id`),
  KEY `product_variant_id` (`product_variant_id`),
  CONSTRAINT `export_receipt_items_ibfk_1` FOREIGN KEY (`export_receipt_id`) REFERENCES `export_receipts` (`id`) ON DELETE CASCADE,
  CONSTRAINT `export_receipt_items_ibfk_2` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`),
  CONSTRAINT `export_receipt_items_ibfk_3` FOREIGN KEY (`product_variant_id`) REFERENCES `product_variants` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `export_receipts`
--

DROP TABLE IF EXISTS `export_receipts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `export_receipts` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `receipt_number` varchar(50) NOT NULL,
  `receipt_date` date NOT NULL,
  `receiver_name` varchar(100) DEFAULT NULL COMMENT 'Ng╞░ß╗¥i nhß║¡n h├áng',
  `receiver_department` varchar(100) DEFAULT NULL COMMENT 'Bß╗Ö phß║¡n nhß║¡n',
  `receiver_address` varchar(255) DEFAULT NULL COMMENT '─Éß╗ïa chß╗ë ng╞░ß╗¥i nhß║¡n',
  `receiver_phone` varchar(20) DEFAULT NULL COMMENT 'S─ÉT ng╞░ß╗¥i nhß║¡n',
  `export_reason` enum('sale','internal','disposal','transfer') DEFAULT 'sale' COMMENT 'L├╜ do xuß║Ñt',
  `warehouse_id` int(10) unsigned NOT NULL,
  `notes` text DEFAULT NULL,
  `reference_document` varchar(200) DEFAULT NULL COMMENT 'Sß╗æ chß╗⌐ng tß╗½ k├¿m theo',
  `delivery_person` varchar(100) DEFAULT NULL COMMENT 'Ng╞░ß╗¥i giao h├áng',
  `storekeeper` varchar(100) DEFAULT NULL COMMENT 'Thß╗º kho',
  `total_items` int(10) unsigned DEFAULT 0,
  `total_quantity` int(11) DEFAULT 0,
  `subtotal` decimal(15,2) NOT NULL DEFAULT 0.00 COMMENT 'Tß╗òng tiß╗ün h├áng (tr╞░ß╗¢c VAT, ship)',
  `vat_percent` decimal(5,2) NOT NULL DEFAULT 0.00 COMMENT 'Phß║ºn tr─âm VAT (0.10 = 10%)',
  `vat_amount` decimal(15,2) NOT NULL DEFAULT 0.00 COMMENT 'Tiß╗ün VAT = subtotal * vat_percent',
  `shipping_fee` decimal(15,2) NOT NULL DEFAULT 0.00 COMMENT 'Ph├¡ vß║¡n chuyß╗ân',
  `delivery_method` varchar(20) DEFAULT 'delivery' COMMENT 'Ph╞░╞íng thß╗⌐c: delivery / pickup',
  `total_amount` decimal(15,2) DEFAULT 0.00,
  `payment_terms` int(11) DEFAULT 0,
  `created_by` int(10) unsigned DEFAULT NULL,
  `approved_by` int(10) unsigned DEFAULT NULL,
  `approved_at` datetime DEFAULT NULL,
  `status` enum('PENDING','APPROVED','CANCELLED') DEFAULT 'PENDING',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `receipt_number` (`receipt_number`),
  KEY `warehouse_id` (`warehouse_id`),
  KEY `created_by` (`created_by`),
  KEY `approved_by` (`approved_by`),
  CONSTRAINT `export_receipts_ibfk_1` FOREIGN KEY (`warehouse_id`) REFERENCES `warehouses` (`id`),
  CONSTRAINT `export_receipts_ibfk_2` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`),
  CONSTRAINT `export_receipts_ibfk_3` FOREIGN KEY (`approved_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `export_slip_details`
--

DROP TABLE IF EXISTS `export_slip_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `export_slip_details` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `export_slip_id` int(11) NOT NULL,
  `product_id` int(11) NOT NULL,
  `variant_id` int(11) DEFAULT NULL,
  `quantity` int(11) NOT NULL DEFAULT 1,
  `unit_cost_snapshot` decimal(15,2) DEFAULT 0.00,
  `cost_of_goods_sold` decimal(15,2) DEFAULT 0.00,
  PRIMARY KEY (`id`),
  KEY `idx_esd_slip` (`export_slip_id`),
  CONSTRAINT `fk_esd_slip` FOREIGN KEY (`export_slip_id`) REFERENCES `export_slips` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Chi tiet phieu xuat kho';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `export_slips`
--

DROP TABLE IF EXISTS `export_slips`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `export_slips` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `order_id` int(11) NOT NULL,
  `created_by` int(11) NOT NULL,
  `approved_by` int(11) DEFAULT NULL,
  `status` enum('waiting_approval','approved','completed','returned') NOT NULL DEFAULT 'waiting_approval',
  `notes` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_es_order` (`order_id`),
  KEY `idx_es_status` (`status`),
  CONSTRAINT `fk_es_order` FOREIGN KEY (`order_id`) REFERENCES `orders` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Phieu xuat kho';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `goods_issue_items`
--

DROP TABLE IF EXISTS `goods_issue_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `goods_issue_items` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `goods_issue_id` int(10) unsigned NOT NULL,
  `product_id` int(10) unsigned NOT NULL,
  `location_id` int(10) unsigned DEFAULT NULL COMMENT 'Pick location',
  `inventory_id` bigint(20) unsigned DEFAULT NULL COMMENT 'Specific inventory record',
  `quantity_requested` int(11) NOT NULL DEFAULT 0,
  `quantity_picked` int(11) NOT NULL DEFAULT 0,
  `quantity_shipped` int(11) NOT NULL DEFAULT 0,
  `unit_id` int(10) unsigned DEFAULT NULL,
  `unit_price` decimal(15,2) NOT NULL DEFAULT 0.00,
  `unit_cost` decimal(15,2) NOT NULL DEFAULT 0.00 COMMENT 'For margin calculation',
  `tax_rate` decimal(5,2) NOT NULL DEFAULT 0.00,
  `tax_amount` decimal(15,2) NOT NULL DEFAULT 0.00,
  `discount_percent` decimal(5,2) NOT NULL DEFAULT 0.00,
  `discount_amount` decimal(15,2) NOT NULL DEFAULT 0.00,
  `line_total` decimal(15,2) NOT NULL DEFAULT 0.00,
  `batch_number` varchar(50) DEFAULT NULL,
  `serial_numbers` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`serial_numbers`)),
  `expiry_date` date DEFAULT NULL,
  `pick_status` enum('pending','partial','completed','cancelled') NOT NULL DEFAULT 'pending',
  `notes` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_goods_issue_items_issue_id` (`goods_issue_id`),
  KEY `idx_goods_issue_items_product_id` (`product_id`),
  KEY `idx_goods_issue_items_location_id` (`location_id`),
  KEY `idx_goods_issue_items_inventory_id` (`inventory_id`),
  KEY `idx_goods_issue_items_pick_status` (`pick_status`),
  KEY `fk_goods_issue_items_unit` (`unit_id`),
  CONSTRAINT `fk_goods_issue_items_inventory` FOREIGN KEY (`inventory_id`) REFERENCES `inventories` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_goods_issue_items_issue` FOREIGN KEY (`goods_issue_id`) REFERENCES `goods_issues` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_goods_issue_items_location` FOREIGN KEY (`location_id`) REFERENCES `storage_locations` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_goods_issue_items_product` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_goods_issue_items_unit` FOREIGN KEY (`unit_id`) REFERENCES `units` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Goods issue line items';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `goods_issues`
--

DROP TABLE IF EXISTS `goods_issues`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `goods_issues` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `issue_number` varchar(50) NOT NULL COMMENT 'GI number: GI-2024-000001',
  `issue_type` enum('sales','transfer','return_to_supplier','damage','adjustment','other') NOT NULL DEFAULT 'sales',
  `warehouse_id` int(10) unsigned NOT NULL COMMENT 'Issuing warehouse',
  `destination_warehouse_id` int(10) unsigned DEFAULT NULL COMMENT 'Destination for transfers',
  `customer_id` int(10) unsigned DEFAULT NULL COMMENT 'FK to customers table',
  `customer_order_id` int(10) unsigned DEFAULT NULL COMMENT 'FK to customer_orders',
  `customer_name` varchar(255) DEFAULT NULL COMMENT 'Customer name if no customer_id',
  `customer_address` text DEFAULT NULL,
  `customer_phone` varchar(20) DEFAULT NULL,
  `customer_email` varchar(100) DEFAULT NULL,
  `sales_order_number` varchar(50) DEFAULT NULL COMMENT 'Related SO number',
  `issue_date` date NOT NULL COMMENT 'Date of issue',
  `required_date` date DEFAULT NULL COMMENT 'Required delivery date',
  `shipped_date` date DEFAULT NULL COMMENT 'Actual ship date',
  `total_items` int(10) unsigned NOT NULL DEFAULT 0,
  `total_quantity` int(11) NOT NULL DEFAULT 0,
  `subtotal` decimal(15,2) NOT NULL DEFAULT 0.00,
  `tax_amount` decimal(15,2) NOT NULL DEFAULT 0.00,
  `shipping_cost` decimal(15,2) NOT NULL DEFAULT 0.00,
  `discount_amount` decimal(15,2) NOT NULL DEFAULT 0.00,
  `total_amount` decimal(15,2) NOT NULL DEFAULT 0.00,
  `currency` varchar(3) NOT NULL DEFAULT 'VND',
  `status` enum('draft','pending','approved','rejected','picking','packed','shipped','delivered','cancelled') NOT NULL DEFAULT 'draft',
  `shipping_method` varchar(100) DEFAULT NULL,
  `tracking_number` varchar(100) DEFAULT NULL,
  `carrier_name` varchar(100) DEFAULT NULL,
  `priority` enum('low','normal','high','urgent') NOT NULL DEFAULT 'normal',
  `notes` text DEFAULT NULL,
  `internal_notes` text DEFAULT NULL,
  `rejection_reason` text DEFAULT NULL,
  `created_by` int(10) unsigned DEFAULT NULL COMMENT 'Staff who created',
  `issued_by` int(10) unsigned DEFAULT NULL COMMENT 'User who issued the goods',
  `picked_by` int(10) unsigned DEFAULT NULL COMMENT 'User who picked the items',
  `packed_by` int(10) unsigned DEFAULT NULL COMMENT 'User who packed the items',
  `approved_by` int(10) unsigned DEFAULT NULL COMMENT 'Admin who approved',
  `approved_at` timestamp NULL DEFAULT NULL,
  `rejected_by` int(10) unsigned DEFAULT NULL,
  `rejected_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `issue_number` (`issue_number`),
  KEY `idx_goods_issues_number` (`issue_number`),
  KEY `idx_goods_issues_warehouse_id` (`warehouse_id`),
  KEY `idx_goods_issues_customer_id` (`customer_id`),
  KEY `idx_goods_issues_order_id` (`customer_order_id`),
  KEY `idx_goods_issues_issue_date` (`issue_date`),
  KEY `idx_goods_issues_status` (`status`),
  KEY `idx_goods_issues_priority` (`priority`),
  KEY `idx_goods_issues_deleted_at` (`deleted_at`),
  KEY `fk_goods_issues_dest_warehouse` (`destination_warehouse_id`),
  KEY `fk_goods_issues_created_by` (`created_by`),
  KEY `fk_goods_issues_issued_by` (`issued_by`),
  KEY `fk_goods_issues_picked_by` (`picked_by`),
  KEY `fk_goods_issues_packed_by` (`packed_by`),
  KEY `fk_goods_issues_approved_by` (`approved_by`),
  KEY `fk_goods_issues_rejected_by` (`rejected_by`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Goods issue/outbound header - Inventory updated ONLY when approved';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `goods_receipt_items`
--

DROP TABLE IF EXISTS `goods_receipt_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `goods_receipt_items` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `goods_receipt_id` int(10) unsigned NOT NULL,
  `product_id` int(10) unsigned NOT NULL,
  `product_variant_id` int(10) unsigned DEFAULT NULL COMMENT 'Bi???n th??? s???n ph???m - d??ng ????? t??nh gi?? v???n b??nh qu??n gia quy???n (MWA)',
  `location_id` int(10) unsigned DEFAULT NULL COMMENT 'Storage location for received items',
  `quantity_expected` int(11) NOT NULL DEFAULT 0 COMMENT 'Expected quantity',
  `quantity_received` int(11) NOT NULL DEFAULT 0 COMMENT 'Actually received quantity',
  `quantity_document` int(11) DEFAULT 0 COMMENT 'Sß╗æ l╞░ß╗úng theo chß╗⌐ng tß╗½',
  `quantity_actual` int(11) DEFAULT 0 COMMENT 'Sß╗æ l╞░ß╗úng thß╗▒c nhß║¡p',
  `quantity_rejected` int(11) NOT NULL DEFAULT 0 COMMENT 'Rejected/damaged quantity',
  `unit_id` int(10) unsigned DEFAULT NULL,
  `unit_cost` decimal(15,2) NOT NULL DEFAULT 0.00,
  `tax_rate` decimal(5,2) NOT NULL DEFAULT 0.00,
  `tax_amount` decimal(15,2) NOT NULL DEFAULT 0.00,
  `discount_percent` decimal(5,2) NOT NULL DEFAULT 0.00,
  `discount_amount` decimal(15,2) NOT NULL DEFAULT 0.00,
  `line_total` decimal(15,2) NOT NULL DEFAULT 0.00,
  `batch_number` varchar(50) DEFAULT NULL,
  `serial_numbers` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Array of serial numbers if serialized' CHECK (json_valid(`serial_numbers`)),
  `manufacturing_date` date DEFAULT NULL,
  `expiry_date` date DEFAULT NULL,
  `quality_status` enum('pending','passed','failed','partial') NOT NULL DEFAULT 'pending',
  `quality_notes` text DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_goods_receipt_items_receipt_id` (`goods_receipt_id`),
  KEY `idx_goods_receipt_items_product_id` (`product_id`),
  KEY `idx_goods_receipt_items_location_id` (`location_id`),
  KEY `idx_goods_receipt_items_batch_number` (`batch_number`),
  KEY `fk_goods_receipt_items_unit` (`unit_id`),
  KEY `idx_goods_receipt_items_variant_id` (`product_variant_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Goods receipt line items';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `goods_receipts`
--

DROP TABLE IF EXISTS `goods_receipts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `goods_receipts` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `receipt_number` varchar(50) NOT NULL COMMENT 'GR number: GR-2024-000001',
  `receipt_type` enum('purchase','return','transfer','adjustment','other') NOT NULL DEFAULT 'purchase',
  `supplier_id` int(10) unsigned DEFAULT NULL COMMENT 'Supplier for purchase receipts',
  `source_warehouse_id` int(10) unsigned DEFAULT NULL COMMENT 'Source for transfers',
  `purchase_order_number` varchar(50) DEFAULT NULL COMMENT 'Related PO number',
  `warehouse_id` int(10) unsigned NOT NULL COMMENT 'Receiving warehouse',
  `receipt_date` date NOT NULL COMMENT 'Date of receipt',
  `expected_date` date DEFAULT NULL COMMENT 'Expected delivery date',
  `total_items` int(10) unsigned NOT NULL DEFAULT 0,
  `total_quantity` int(11) NOT NULL DEFAULT 0,
  `subtotal` decimal(15,2) NOT NULL DEFAULT 0.00,
  `vat_percent` decimal(5,2) NOT NULL DEFAULT 0.10 COMMENT 'Phß║ºn tr─âm VAT (0.10 = 10%)',
  `tax_amount` decimal(15,2) NOT NULL DEFAULT 0.00,
  `shipping_cost` decimal(15,2) NOT NULL DEFAULT 0.00,
  `discount_amount` decimal(15,2) NOT NULL DEFAULT 0.00,
  `total_amount` decimal(15,2) NOT NULL DEFAULT 0.00,
  `currency` varchar(3) NOT NULL DEFAULT 'VND',
  `status` enum('PENDING','APPROVED','CANCELLED') DEFAULT 'PENDING',
  `shipping_method` varchar(100) DEFAULT NULL,
  `tracking_number` varchar(100) DEFAULT NULL,
  `carrier_name` varchar(100) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `delivery_person` varchar(100) DEFAULT NULL COMMENT 'Ng╞░ß╗¥i giao h├áng',
  `storekeeper` varchar(100) DEFAULT NULL COMMENT 'Thß╗º kho',
  `reference_document` varchar(200) DEFAULT NULL COMMENT 'Sß╗æ chß╗⌐ng tß╗½ k├¿m theo',
  `internal_notes` text DEFAULT NULL COMMENT 'Internal notes not visible to supplier',
  `rejection_reason` text DEFAULT NULL COMMENT 'Reason if rejected',
  `created_by` int(10) unsigned DEFAULT NULL COMMENT 'Staff who created',
  `received_by` int(10) unsigned DEFAULT NULL COMMENT 'User who received the goods',
  `approved_by` int(10) unsigned DEFAULT NULL COMMENT 'Admin who approved',
  `approved_at` timestamp NULL DEFAULT NULL COMMENT 'Approval timestamp',
  `rejected_by` int(10) unsigned DEFAULT NULL COMMENT 'Admin who rejected',
  `rejected_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `receipt_number` (`receipt_number`),
  KEY `idx_goods_receipts_number` (`receipt_number`),
  KEY `idx_goods_receipts_supplier_id` (`supplier_id`),
  KEY `idx_goods_receipts_warehouse_id` (`warehouse_id`),
  KEY `idx_goods_receipts_receipt_date` (`receipt_date`),
  KEY `idx_goods_receipts_status` (`status`),
  KEY `idx_goods_receipts_deleted_at` (`deleted_at`),
  KEY `fk_goods_receipts_source_warehouse` (`source_warehouse_id`),
  KEY `fk_goods_receipts_created_by` (`created_by`),
  KEY `fk_goods_receipts_received_by` (`received_by`),
  KEY `fk_goods_receipts_approved_by` (`approved_by`),
  KEY `fk_goods_receipts_rejected_by` (`rejected_by`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Goods receipt/inbound header - Inventory updated ONLY when approved';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `inventories`
--

DROP TABLE IF EXISTS `inventories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `inventories` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `product_id` int(10) unsigned NOT NULL,
  `product_variant_id` int(10) unsigned DEFAULT NULL,
  `warehouse_id` int(10) unsigned NOT NULL,
  `location_id` int(10) unsigned DEFAULT NULL COMMENT 'Specific storage location',
  `quantity_on_hand` int(11) NOT NULL DEFAULT 0 COMMENT 'Current physical quantity',
  `quantity_reserved` int(11) NOT NULL DEFAULT 0 COMMENT 'Reserved for orders',
  `quantity_available` int(11) GENERATED ALWAYS AS (`quantity_on_hand` - `quantity_reserved`) STORED,
  `quantity_incoming` int(11) NOT NULL DEFAULT 0 COMMENT 'Expected from purchase orders',
  `batch_number` varchar(50) DEFAULT NULL COMMENT 'Batch or lot number',
  `serial_number` varchar(100) DEFAULT NULL COMMENT 'Serial number if serialized',
  `manufacturing_date` date DEFAULT NULL,
  `expiry_date` date DEFAULT NULL,
  `unit_cost` decimal(15,2) DEFAULT NULL COMMENT 'Unit cost for this batch',
  `total_value` decimal(15,2) GENERATED ALWAYS AS (`quantity_on_hand` * coalesce(`unit_cost`,0)) STORED,
  `status` enum('available','reserved','damaged','expired','quarantine') NOT NULL DEFAULT 'available',
  `last_count_date` timestamp NULL DEFAULT NULL COMMENT 'Last physical count date',
  `last_movement_date` timestamp NULL DEFAULT NULL COMMENT 'Last inventory movement',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_inventory_product_location_batch` (`product_id`,`warehouse_id`,`location_id`,`batch_number`,`serial_number`),
  KEY `idx_inventories_product_id` (`product_id`),
  KEY `idx_inventories_warehouse_id` (`warehouse_id`),
  KEY `idx_inventories_location_id` (`location_id`),
  KEY `idx_inventories_status` (`status`),
  KEY `idx_inventories_expiry_date` (`expiry_date`),
  KEY `idx_inv_variant_warehouse` (`product_variant_id`,`warehouse_id`)
) ENGINE=InnoDB AUTO_INCREMENT=76 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Current inventory levels - ONLY modified through approved receipts/issues';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `inventory_logs`
--

DROP TABLE IF EXISTS `inventory_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `inventory_logs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `inventory_id` bigint(20) unsigned DEFAULT NULL COMMENT 'Related inventory record',
  `product_id` int(10) unsigned NOT NULL,
  `product_variant_id` int(10) unsigned DEFAULT NULL,
  `warehouse_id` int(10) unsigned NOT NULL,
  `location_id` int(10) unsigned DEFAULT NULL,
  `movement_type` enum('goods_receipt','goods_issue','transfer_in','transfer_out','adjustment_in','adjustment_out','return_in','return_out','damage','expired','stock_take') NOT NULL COMMENT 'Type of inventory movement',
  `reference_type` varchar(50) DEFAULT NULL COMMENT 'Source document type',
  `reference_id` int(10) unsigned DEFAULT NULL COMMENT 'Source document ID',
  `reference_number` varchar(50) DEFAULT NULL COMMENT 'Source document number',
  `quantity_before` int(11) NOT NULL DEFAULT 0,
  `quantity_change` int(11) NOT NULL COMMENT 'Positive for in, negative for out',
  `quantity_after` int(11) NOT NULL DEFAULT 0,
  `batch_number` varchar(50) DEFAULT NULL,
  `serial_number` varchar(100) DEFAULT NULL,
  `unit_cost` decimal(15,2) DEFAULT NULL,
  `total_cost` decimal(15,2) DEFAULT NULL,
  `reason` varchar(255) DEFAULT NULL COMMENT 'Reason for movement',
  `notes` text DEFAULT NULL,
  `performed_by` int(10) unsigned DEFAULT NULL COMMENT 'User who performed the action',
  `performed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_inventory_logs_inventory_id` (`inventory_id`),
  KEY `idx_inventory_logs_product_id` (`product_id`),
  KEY `idx_inventory_logs_warehouse_id` (`warehouse_id`),
  KEY `idx_inventory_logs_movement_type` (`movement_type`),
  KEY `idx_inventory_logs_reference` (`reference_type`,`reference_id`),
  KEY `idx_inventory_logs_performed_at` (`performed_at`),
  KEY `fk_inventory_logs_performed_by` (`performed_by`)
) ENGINE=InnoDB AUTO_INCREMENT=126 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Inventory movement history and audit trail';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(10) unsigned NOT NULL COMMENT 'Recipient user',
  `type` varchar(50) NOT NULL COMMENT 'order, inventory, system, promotion...',
  `title` varchar(255) NOT NULL,
  `message` text NOT NULL,
  `entity_type` varchar(50) DEFAULT NULL COMMENT 'order, product, goods_receipt...',
  `entity_id` int(10) unsigned DEFAULT NULL,
  `link` varchar(500) DEFAULT NULL COMMENT 'URL to navigate to',
  `action_text` varchar(100) DEFAULT NULL COMMENT 'Button text',
  `is_read` tinyint(1) NOT NULL DEFAULT 0,
  `read_at` timestamp NULL DEFAULT NULL,
  `priority` enum('low','normal','high','urgent') NOT NULL DEFAULT 'normal',
  `icon` varchar(50) DEFAULT NULL,
  `expires_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_notifications_user_id` (`user_id`),
  KEY `idx_notifications_type` (`type`),
  KEY `idx_notifications_is_read` (`is_read`),
  KEY `idx_notifications_created_at` (`created_at`),
  KEY `idx_notifications_entity` (`entity_type`,`entity_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='User notifications';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `order_items`
--

DROP TABLE IF EXISTS `order_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `order_items` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `order_id` int(11) NOT NULL,
  `product_id` int(11) NOT NULL,
  `variant_id` int(11) DEFAULT NULL,
  `product_name` varchar(255) NOT NULL,
  `variant_sku` varchar(100) DEFAULT NULL,
  `quantity` int(11) NOT NULL DEFAULT 1,
  `unit_price` decimal(15,2) NOT NULL DEFAULT 0.00,
  `cost_price_snapshot` decimal(15,2) NOT NULL,
  `variant_attributes` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_oi_order` (`order_id`)
) ENGINE=InnoDB AUTO_INCREMENT=55 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Chi tiet don hang';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `orders`
--

DROP TABLE IF EXISTS `orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `orders` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `total_amount` decimal(15,2) NOT NULL DEFAULT 0.00,
  `payment_method` enum('COD','BANKING') NOT NULL DEFAULT 'COD',
  `payment_status` enum('unpaid','paid') NOT NULL DEFAULT 'unpaid',
  `status` enum('pending','confirmed','shipping','delivered','failed','cancelled') NOT NULL DEFAULT 'pending',
  `shipping_name` varchar(100) NOT NULL,
  `shipping_phone` varchar(20) NOT NULL,
  `shipping_address` text NOT NULL,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `shipping_latitude` decimal(10,8) DEFAULT NULL,
  `shipping_longitude` decimal(11,8) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_orders_user` (`user_id`),
  KEY `idx_orders_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=39 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Don hang';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `payment_receipts`
--

DROP TABLE IF EXISTS `payment_receipts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payment_receipts` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `receipt_number` varchar(50) NOT NULL,
  `receivable_id` int(10) unsigned NOT NULL,
  `amount` decimal(15,2) NOT NULL,
  `payment_method` enum('cash','bank_transfer','credit_card','other') NOT NULL,
  `payment_date` date NOT NULL,
  `bank_name` varchar(100) DEFAULT NULL,
  `bank_account` varchar(50) DEFAULT NULL,
  `bank_reference` varchar(100) DEFAULT NULL,
  `status` enum('pending','approved','rejected','cancelled') NOT NULL DEFAULT 'pending',
  `notes` text DEFAULT NULL,
  `created_by` int(10) unsigned DEFAULT NULL,
  `approved_by` int(10) unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `receipt_number` (`receipt_number`),
  KEY `fk_payment_receipts_receivable` (`receivable_id`),
  KEY `fk_payment_receipts_creator` (`created_by`),
  KEY `fk_payment_receipts_approver` (`approved_by`),
  CONSTRAINT `fk_payment_receipts_approver` FOREIGN KEY (`approved_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_payment_receipts_creator` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_payment_receipts_receivable` FOREIGN KEY (`receivable_id`) REFERENCES `receivables` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `product_specifications`
--

DROP TABLE IF EXISTS `product_specifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `product_specifications` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `product_id` int(10) unsigned NOT NULL COMMENT 'FK to products',
  `spec_name` varchar(100) NOT NULL COMMENT 'T├¬n th├┤ng sß╗æ: M├án h├¼nh, Chip, Pin, Trß╗ìng l╞░ß╗úng...',
  `spec_value` varchar(500) NOT NULL COMMENT 'Gi├í trß╗ï: 6.7 inch AMOLED, Snapdragon 8 Gen 3...',
  `sort_order` int(11) NOT NULL DEFAULT 0 COMMENT 'Thß╗⌐ tß╗▒ hiß╗ân thß╗ï',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_specs_product_id` (`product_id`),
  KEY `idx_specs_sort_order` (`sort_order`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Th├┤ng sß╗æ kß╗╣ thuß║¡t sß║ún phß║⌐m - KH├öNG phß║úi biß║┐n thß╗â';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `product_variants`
--

DROP TABLE IF EXISTS `product_variants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `product_variants` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `product_id` int(10) unsigned NOT NULL,
  `color` varchar(50) DEFAULT NULL COMMENT 'M├áu sß║»c: red, blue, black...',
  `size` varchar(50) DEFAULT NULL COMMENT 'K├¡ch th╞░ß╗¢c: S, M, L, XL, XXL',
  `storage` varchar(50) DEFAULT NULL COMMENT 'Dung l╞░ß╗úng: 64GB, 128GB, 256GB...',
  `ram` varchar(50) DEFAULT NULL COMMENT 'RAM: 4GB, 8GB, 16GB...',
  `material` varchar(50) DEFAULT NULL COMMENT 'Chß║Ñt liß╗çu: Gß╗ù, Nhß╗▒a, Kim loß║íi...',
  `capacity` varchar(50) DEFAULT NULL COMMENT 'C├┤ng suß║Ñt pin: 5000mAh...',
  `sku` varchar(100) NOT NULL COMMENT 'SKU ri├¬ng cho variant',
  `price` decimal(15,2) NOT NULL DEFAULT 0.00 COMMENT 'Gi├í b├ín cß╗ºa variant',
  `average_cost` decimal(15,2) NOT NULL DEFAULT 0.00 COMMENT 'Gia von binh quan (noi bo)',
  `stock` int(11) NOT NULL DEFAULT 0 COMMENT 'Tß╗ôn kho cß╗ºa variant',
  `image_url` varchar(500) DEFAULT NULL COMMENT 'H├¼nh ß║únh ri├¬ng cho variant',
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `sku` (`sku`),
  KEY `idx_variants_product_id` (`product_id`),
  KEY `idx_variants_color` (`color`),
  KEY `idx_variants_size` (`size`),
  KEY `idx_variants_sku` (`sku`),
  KEY `idx_variants_is_active` (`is_active`)
) ENGINE=InnoDB AUTO_INCREMENT=49 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Product variants - Mß╗ùi variant l├á mß╗Öt ─æ╞ín vß╗ï b├ín h├áng ─æß╗Öc lß║¡p';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `products`
--

DROP TABLE IF EXISTS `products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `products` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `sku` varchar(50) NOT NULL COMMENT 'Stock Keeping Unit',
  `barcode` varchar(50) DEFAULT NULL COMMENT 'Product barcode (EAN/UPC)',
  `name` varchar(255) NOT NULL COMMENT 'Product name',
  `description` text DEFAULT NULL,
  `category_id` int(10) unsigned DEFAULT NULL,
  `unit_id` int(10) unsigned DEFAULT NULL COMMENT 'Primary unit of measurement',
  `supplier_id` int(10) unsigned DEFAULT NULL COMMENT 'Default supplier',
  `brand` varchar(100) DEFAULT NULL,
  `cost_price` decimal(15,2) NOT NULL DEFAULT 0.00 COMMENT 'Cost/purchase price',
  `selling_price` decimal(15,2) NOT NULL DEFAULT 0.00 COMMENT 'Selling price',
  `currency` varchar(3) NOT NULL DEFAULT 'VND' COMMENT 'Currency code',
  `tax_rate` decimal(5,2) DEFAULT 0.00 COMMENT 'Tax percentage',
  `weight` decimal(10,3) DEFAULT NULL COMMENT 'Weight in kg',
  `length` decimal(10,2) DEFAULT NULL COMMENT 'Length in cm',
  `width` decimal(10,2) DEFAULT NULL COMMENT 'Width in cm',
  `height` decimal(10,2) DEFAULT NULL COMMENT 'Height in cm',
  `min_stock_level` int(10) unsigned NOT NULL DEFAULT 0 COMMENT 'Minimum stock before reorder alert',
  `max_stock_level` int(10) unsigned DEFAULT NULL COMMENT 'Maximum stock level',
  `reorder_point` int(10) unsigned NOT NULL DEFAULT 0 COMMENT 'Quantity at which to reorder',
  `reorder_quantity` int(10) unsigned DEFAULT NULL COMMENT 'Suggested reorder quantity',
  `is_serialized` tinyint(1) NOT NULL DEFAULT 0 COMMENT 'Requires serial number tracking',
  `is_batch_tracked` tinyint(1) NOT NULL DEFAULT 0 COMMENT 'Requires batch/lot tracking',
  `has_expiry` tinyint(1) NOT NULL DEFAULT 0 COMMENT 'Has expiration date',
  `image_url` varchar(500) DEFAULT NULL COMMENT 'Primary product image',
  `has_variants` tinyint(1) NOT NULL DEFAULT 0 COMMENT '0=s???n ph???m ????n (1 variant m???c ?????nh), 1=c?? nhi???u bi???n th???',
  `images` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Array of additional image URLs' CHECK (json_valid(`images`)),
  `status` enum('active','inactive','discontinued','draft') NOT NULL DEFAULT 'draft',
  `created_by` int(10) unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `sku` (`sku`),
  UNIQUE KEY `barcode` (`barcode`),
  KEY `idx_products_sku` (`sku`),
  KEY `idx_products_barcode` (`barcode`),
  KEY `idx_products_category_id` (`category_id`),
  KEY `idx_products_supplier_id` (`supplier_id`),
  KEY `idx_products_status` (`status`),
  KEY `idx_products_deleted_at` (`deleted_at`),
  KEY `fk_products_unit` (`unit_id`),
  KEY `fk_products_created_by` (`created_by`),
  FULLTEXT KEY `ft_products_name_desc` (`name`,`description`)
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Product master data';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `receivables`
--

DROP TABLE IF EXISTS `receivables`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `receivables` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `receivable_number` varchar(50) NOT NULL,
  `source_type` enum('order','export_receipt','export_transfer') NOT NULL,
  `source_id` int(10) unsigned NOT NULL,
  `source_number` varchar(50) DEFAULT NULL,
  `debtor_type` enum('user','customer','external') DEFAULT 'external',
  `user_id` int(10) unsigned DEFAULT NULL,
  `debtor_name` varchar(100) NOT NULL,
  `debtor_phone` varchar(20) DEFAULT NULL,
  `debtor_email` varchar(100) DEFAULT NULL,
  `debtor_address` text DEFAULT NULL,
  `total_amount` decimal(15,2) NOT NULL DEFAULT 0.00,
  `paid_amount` decimal(15,2) NOT NULL DEFAULT 0.00,
  `issue_date` date NOT NULL,
  `due_date` date NOT NULL,
  `payment_terms` int(11) NOT NULL DEFAULT 0,
  `status` enum('draft','unpaid','partial','paid','overdue','bad_debt','cancelled') NOT NULL DEFAULT 'unpaid',
  `notes` text DEFAULT NULL,
  `created_by` int(10) unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `last_payment_at` datetime DEFAULT NULL,
  `closed_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `receivable_number` (`receivable_number`),
  KEY `fk_receivables_user` (`user_id`),
  KEY `fk_receivables_creator` (`created_by`),
  CONSTRAINT `fk_receivables_creator` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_receivables_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `reorder_alerts`
--

DROP TABLE IF EXISTS `reorder_alerts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reorder_alerts` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `product_id` int(10) unsigned NOT NULL,
  `warehouse_id` int(10) unsigned DEFAULT NULL COMMENT 'NULL means all warehouses',
  `current_quantity` int(11) NOT NULL,
  `reorder_point` int(11) NOT NULL,
  `suggested_quantity` int(11) DEFAULT NULL,
  `status` enum('pending','ordered','received','dismissed') NOT NULL DEFAULT 'pending',
  `triggered_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `handled_by` int(10) unsigned DEFAULT NULL,
  `handled_at` timestamp NULL DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_reorder_alerts_product_id` (`product_id`),
  KEY `idx_reorder_alerts_warehouse_id` (`warehouse_id`),
  KEY `idx_reorder_alerts_status` (`status`),
  KEY `fk_reorder_alerts_handled_by` (`handled_by`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Reorder point alerts for inventory replenishment';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `roles` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL COMMENT 'Role name: admin, staff, user',
  `description` varchar(255) DEFAULT NULL COMMENT 'Role description',
  `permissions` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'JSON array of permission strings' CHECK (json_valid(`permissions`)),
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  KEY `idx_roles_name` (`name`),
  KEY `idx_roles_is_active` (`is_active`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='System roles for access control';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `stock_take_items`
--

DROP TABLE IF EXISTS `stock_take_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `stock_take_items` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `stock_take_id` int(10) unsigned NOT NULL,
  `product_id` int(10) unsigned NOT NULL,
  `location_id` int(10) unsigned DEFAULT NULL,
  `inventory_id` bigint(20) unsigned DEFAULT NULL,
  `system_quantity` int(11) NOT NULL DEFAULT 0 COMMENT 'Quantity in system at snapshot',
  `counted_quantity` int(11) DEFAULT NULL COMMENT 'Actual counted quantity',
  `variance_quantity` int(11) GENERATED ALWAYS AS (coalesce(`counted_quantity`,0) - `system_quantity`) STORED,
  `unit_cost` decimal(15,2) NOT NULL DEFAULT 0.00,
  `system_value` decimal(15,2) GENERATED ALWAYS AS (`system_quantity` * `unit_cost`) STORED,
  `counted_value` decimal(15,2) GENERATED ALWAYS AS (coalesce(`counted_quantity`,0) * `unit_cost`) STORED,
  `variance_value` decimal(15,2) GENERATED ALWAYS AS ((coalesce(`counted_quantity`,0) - `system_quantity`) * `unit_cost`) STORED,
  `batch_number` varchar(50) DEFAULT NULL,
  `serial_number` varchar(100) DEFAULT NULL,
  `status` enum('pending','counted','recounted','verified','adjusted') NOT NULL DEFAULT 'pending',
  `variance_reason` enum('no_variance','damaged','expired','theft','misplaced','data_error','unknown','other') DEFAULT NULL,
  `variance_notes` text DEFAULT NULL,
  `counted_by` int(10) unsigned DEFAULT NULL,
  `counted_at` timestamp NULL DEFAULT NULL,
  `verified_by` int(10) unsigned DEFAULT NULL,
  `verified_at` timestamp NULL DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_stock_take_items_take_id` (`stock_take_id`),
  KEY `idx_stock_take_items_product_id` (`product_id`),
  KEY `idx_stock_take_items_status` (`status`),
  KEY `fk_stock_take_items_location` (`location_id`),
  KEY `fk_stock_take_items_inventory` (`inventory_id`),
  KEY `fk_stock_take_items_counted_by` (`counted_by`),
  KEY `fk_stock_take_items_verified_by` (`verified_by`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Stock take line items with variance tracking';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `stock_takes`
--

DROP TABLE IF EXISTS `stock_takes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `stock_takes` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `stocktake_number` varchar(50) NOT NULL COMMENT 'ST number: ST-2024-000001',
  `warehouse_id` int(10) unsigned NOT NULL,
  `zone_id` int(10) unsigned DEFAULT NULL COMMENT 'Limit to specific zone',
  `stocktake_type` enum('full','partial','cycle','spot') NOT NULL DEFAULT 'partial',
  `scheduled_date` date NOT NULL,
  `start_date` timestamp NULL DEFAULT NULL,
  `end_date` timestamp NULL DEFAULT NULL,
  `total_items` int(10) unsigned NOT NULL DEFAULT 0,
  `counted_items` int(10) unsigned NOT NULL DEFAULT 0,
  `matched_items` int(10) unsigned NOT NULL DEFAULT 0,
  `variance_items` int(10) unsigned NOT NULL DEFAULT 0,
  `total_variance_value` decimal(15,2) NOT NULL DEFAULT 0.00,
  `status` enum('draft','scheduled','in_progress','pending_review','approved','completed','cancelled') NOT NULL DEFAULT 'draft',
  `reason` varchar(255) DEFAULT NULL COMMENT 'Reason for stock take',
  `notes` text DEFAULT NULL,
  `assigned_to` int(10) unsigned DEFAULT NULL COMMENT 'Primary user assigned',
  `started_by` int(10) unsigned DEFAULT NULL,
  `completed_by` int(10) unsigned DEFAULT NULL,
  `reviewed_by` int(10) unsigned DEFAULT NULL,
  `reviewed_at` timestamp NULL DEFAULT NULL,
  `approved_by` int(10) unsigned DEFAULT NULL,
  `approved_at` timestamp NULL DEFAULT NULL,
  `created_by` int(10) unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `stocktake_number` (`stocktake_number`),
  KEY `idx_stock_takes_number` (`stocktake_number`),
  KEY `idx_stock_takes_warehouse_id` (`warehouse_id`),
  KEY `idx_stock_takes_scheduled_date` (`scheduled_date`),
  KEY `idx_stock_takes_status` (`status`),
  KEY `fk_stock_takes_zone` (`zone_id`),
  KEY `fk_stock_takes_assigned_to` (`assigned_to`),
  KEY `fk_stock_takes_created_by` (`created_by`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Stock take/inventory count header';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `stock_transfer_items`
--

DROP TABLE IF EXISTS `stock_transfer_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `stock_transfer_items` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `stock_transfer_id` int(10) unsigned NOT NULL,
  `product_id` int(10) unsigned NOT NULL,
  `product_variant_id` int(10) unsigned DEFAULT NULL,
  `source_inventory_id` bigint(20) unsigned DEFAULT NULL,
  `destination_inventory_id` bigint(20) unsigned DEFAULT NULL,
  `quantity_requested` int(11) NOT NULL DEFAULT 0,
  `quantity_shipped` int(11) NOT NULL DEFAULT 0,
  `quantity_received` int(11) NOT NULL DEFAULT 0,
  `quantity_damaged` int(11) NOT NULL DEFAULT 0,
  `unit_id` int(10) unsigned DEFAULT NULL,
  `unit_cost` decimal(15,2) NOT NULL DEFAULT 0.00,
  `line_total` decimal(15,2) NOT NULL DEFAULT 0.00,
  `cost_of_goods_sold` decimal(15,2) DEFAULT NULL COMMENT 'Gia von hang ban tai thoi diem xuat kho',
  `batch_number` varchar(50) DEFAULT NULL,
  `serial_numbers` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`serial_numbers`)),
  `expiry_date` date DEFAULT NULL,
  `status` enum('pending','shipped','received','partial','cancelled') NOT NULL DEFAULT 'pending',
  `notes` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_stock_transfer_items_transfer_id` (`stock_transfer_id`),
  KEY `idx_stock_transfer_items_product_id` (`product_id`),
  KEY `idx_stock_transfer_items_status` (`status`),
  KEY `fk_stock_transfer_items_source_inv` (`source_inventory_id`),
  KEY `fk_stock_transfer_items_dest_inv` (`destination_inventory_id`),
  KEY `fk_stock_transfer_items_unit` (`unit_id`),
  KEY `idx_sti_product_variant_id` (`product_variant_id`)
) ENGINE=InnoDB AUTO_INCREMENT=87 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Stock transfer line items';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `stock_transfers`
--

DROP TABLE IF EXISTS `stock_transfers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `stock_transfers` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `transfer_number` varchar(50) NOT NULL COMMENT 'TR number: TR-2024-000001',
  `transfer_type` enum('IMPORT','EXPORT','TRANSFER') NOT NULL DEFAULT 'IMPORT',
  `supplier_id` int(10) unsigned DEFAULT NULL COMMENT 'Nha cung cap',
  `order_id` int(11) DEFAULT NULL,
  `source_warehouse_id` int(10) unsigned NOT NULL,
  `source_location_id` int(10) unsigned DEFAULT NULL,
  `destination_warehouse_id` int(10) unsigned NOT NULL,
  `destination_location_id` int(10) unsigned DEFAULT NULL,
  `transfer_date` date NOT NULL,
  `expected_arrival_date` date DEFAULT NULL,
  `actual_arrival_date` date DEFAULT NULL,
  `total_items` int(10) unsigned NOT NULL DEFAULT 0,
  `total_quantity` int(11) NOT NULL DEFAULT 0,
  `subtotal` decimal(15,2) NOT NULL DEFAULT 0.00,
  `vat_percent` decimal(5,2) NOT NULL DEFAULT 0.00,
  `vat_amount` decimal(15,2) NOT NULL DEFAULT 0.00,
  `shipping_fee` decimal(15,2) NOT NULL DEFAULT 0.00,
  `total_value` decimal(15,2) NOT NULL DEFAULT 0.00,
  `payment_terms` int(11) DEFAULT 0,
  `status` enum('draft','pending','approved','rejected','in_transit','partial_received','completed','cancelled') NOT NULL DEFAULT 'draft',
  `shipping_method` varchar(100) DEFAULT NULL,
  `tracking_number` varchar(100) DEFAULT NULL,
  `carrier_name` varchar(100) DEFAULT NULL,
  `reason` varchar(255) DEFAULT NULL COMMENT 'Reason for transfer',
  `notes` text DEFAULT NULL,
  `delivery_person` varchar(100) DEFAULT NULL COMMENT 'Nguoi giao hang',
  `storekeeper` varchar(100) DEFAULT NULL COMMENT 'Thu kho',
  `receiver_name` varchar(100) DEFAULT NULL COMMENT 'Nguoi nhan hang',
  `receiver_department` varchar(100) DEFAULT NULL COMMENT 'Bo phan nhan',
  `receiver_address` text DEFAULT NULL,
  `receiver_phone` varchar(20) DEFAULT NULL,
  `rejection_reason` text DEFAULT NULL,
  `requested_by` int(10) unsigned DEFAULT NULL,
  `approved_by` int(10) unsigned DEFAULT NULL,
  `approved_at` timestamp NULL DEFAULT NULL,
  `rejected_by` int(10) unsigned DEFAULT NULL,
  `rejected_at` timestamp NULL DEFAULT NULL,
  `shipped_by` int(10) unsigned DEFAULT NULL,
  `shipped_at` timestamp NULL DEFAULT NULL,
  `received_by` int(10) unsigned DEFAULT NULL,
  `received_at` timestamp NULL DEFAULT NULL,
  `created_by` int(10) unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `deleted_at` timestamp NULL DEFAULT NULL,
  `receiver_latitude` decimal(10,8) DEFAULT NULL,
  `receiver_longitude` decimal(11,8) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `transfer_number` (`transfer_number`),
  KEY `idx_stock_transfers_number` (`transfer_number`),
  KEY `idx_stock_transfers_source_warehouse` (`source_warehouse_id`),
  KEY `idx_stock_transfers_dest_warehouse` (`destination_warehouse_id`),
  KEY `idx_stock_transfers_transfer_date` (`transfer_date`),
  KEY `idx_stock_transfers_status` (`status`),
  KEY `idx_stock_transfers_deleted_at` (`deleted_at`),
  KEY `fk_stock_transfers_source_location` (`source_location_id`),
  KEY `fk_stock_transfers_dest_location` (`destination_location_id`),
  KEY `fk_stock_transfers_requested_by` (`requested_by`),
  KEY `fk_stock_transfers_approved_by` (`approved_by`),
  KEY `fk_stock_transfers_rejected_by` (`rejected_by`),
  KEY `fk_stock_transfers_shipped_by` (`shipped_by`),
  KEY `fk_stock_transfers_received_by` (`received_by`),
  KEY `fk_stock_transfers_created_by` (`created_by`),
  KEY `fk_stock_transfers_order` (`order_id`),
  CONSTRAINT `fk_stock_transfers_order` FOREIGN KEY (`order_id`) REFERENCES `orders` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=65 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Stock transfer between warehouses or locations';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `storage_locations`
--

DROP TABLE IF EXISTS `storage_locations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `storage_locations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `warehouse_id` int(10) unsigned NOT NULL,
  `zone_id` int(10) unsigned DEFAULT NULL COMMENT 'Optional zone reference',
  `code` varchar(50) NOT NULL COMMENT 'Location code: A-01-02-03',
  `aisle` varchar(10) DEFAULT NULL COMMENT 'Aisle identifier',
  `rack` varchar(10) DEFAULT NULL COMMENT 'Rack number',
  `level` varchar(10) DEFAULT NULL COMMENT 'Shelf level',
  `bin` varchar(10) DEFAULT NULL COMMENT 'Bin/slot position',
  `location_type` enum('rack','floor','pallet','shelf','bin','bulk') NOT NULL DEFAULT 'rack',
  `barcode` varchar(100) DEFAULT NULL COMMENT 'Location barcode for scanning',
  `max_weight` decimal(10,2) DEFAULT NULL COMMENT 'Maximum weight capacity in kg',
  `max_volume` decimal(10,2) DEFAULT NULL COMMENT 'Maximum volume in cubic meters',
  `is_occupied` tinyint(1) NOT NULL DEFAULT 0 COMMENT 'Currently occupied flag',
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_warehouse_location_code` (`warehouse_id`,`code`),
  UNIQUE KEY `barcode` (`barcode`),
  KEY `idx_storage_locations_warehouse_id` (`warehouse_id`),
  KEY `idx_storage_locations_zone_id` (`zone_id`),
  KEY `idx_storage_locations_barcode` (`barcode`),
  KEY `idx_storage_locations_occupied` (`is_occupied`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Storage locations within warehouses';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `suppliers`
--

DROP TABLE IF EXISTS `suppliers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `suppliers` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `code` varchar(20) NOT NULL COMMENT 'Supplier code',
  `name` varchar(255) NOT NULL COMMENT 'Supplier/company name',
  `contact_person` varchar(100) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `address` varchar(500) DEFAULT NULL,
  `city` varchar(100) DEFAULT NULL,
  `country` varchar(100) DEFAULT 'Vietnam',
  `tax_id` varchar(50) DEFAULT NULL COMMENT 'Tax identification number',
  `payment_terms` int(11) DEFAULT NULL COMMENT 'Payment terms in days',
  `bank_name` varchar(100) DEFAULT NULL,
  `bank_account` varchar(50) DEFAULT NULL,
  `status` enum('active','inactive','blacklisted') NOT NULL DEFAULT 'active',
  `notes` text DEFAULT NULL,
  `created_by` int(10) unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`),
  KEY `idx_suppliers_code` (`code`),
  KEY `idx_suppliers_name` (`name`),
  KEY `idx_suppliers_status` (`status`),
  KEY `idx_suppliers_deleted_at` (`deleted_at`),
  KEY `fk_suppliers_created_by` (`created_by`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Supplier master data';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `system_settings`
--

DROP TABLE IF EXISTS `system_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `system_settings` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `setting_key` varchar(100) NOT NULL,
  `setting_value` text DEFAULT NULL,
  `setting_type` enum('string','number','boolean','json') NOT NULL DEFAULT 'string',
  `category` varchar(50) DEFAULT NULL COMMENT 'Settings category for grouping',
  `description` varchar(255) DEFAULT NULL,
  `is_public` tinyint(1) NOT NULL DEFAULT 0 COMMENT 'Visible to all users',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `setting_key` (`setting_key`),
  KEY `idx_system_settings_key` (`setting_key`),
  KEY `idx_system_settings_category` (`category`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='System configuration settings';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `units`
--

DROP TABLE IF EXISTS `units`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `units` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `code` varchar(20) NOT NULL COMMENT 'Unit code: PCS, KG, BOX',
  `name` varchar(50) NOT NULL COMMENT 'Unit name: Piece, Kilogram, Box',
  `type` enum('quantity','weight','volume','length','area') NOT NULL DEFAULT 'quantity',
  `base_unit_id` int(10) unsigned DEFAULT NULL COMMENT 'Base unit for conversion',
  `conversion_factor` decimal(15,6) DEFAULT NULL COMMENT 'Factor to convert to base unit',
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`),
  KEY `idx_units_code` (`code`),
  KEY `idx_units_type` (`type`),
  KEY `fk_units_base_unit` (`base_unit_id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Units of measurement';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `user_roles`
--

DROP TABLE IF EXISTS `user_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_roles` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(10) unsigned NOT NULL,
  `role_id` int(10) unsigned NOT NULL,
  `assigned_by` int(10) unsigned DEFAULT NULL COMMENT 'User who assigned this role',
  `assigned_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `expires_at` timestamp NULL DEFAULT NULL COMMENT 'Role expiration date (optional)',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_user_role` (`user_id`,`role_id`),
  KEY `idx_user_roles_user_id` (`user_id`),
  KEY `idx_user_roles_role_id` (`role_id`),
  KEY `fk_user_roles_assigned_by` (`assigned_by`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='User to role assignments';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `user_sessions`
--

DROP TABLE IF EXISTS `user_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_sessions` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(10) unsigned NOT NULL,
  `token_hash` varchar(255) NOT NULL COMMENT 'Hashed session token',
  `device_info` varchar(255) DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` varchar(500) DEFAULT NULL,
  `last_activity_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `expires_at` timestamp NOT NULL DEFAULT '0000-00-00 00:00:00',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `token_hash` (`token_hash`),
  KEY `idx_user_sessions_user_id` (`user_id`),
  KEY `idx_user_sessions_token_hash` (`token_hash`),
  KEY `idx_user_sessions_expires_at` (`expires_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='User session tokens for authentication';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL COMMENT 'Login username',
  `email` varchar(100) NOT NULL COMMENT 'User email address',
  `password_hash` varchar(255) NOT NULL COMMENT 'Bcrypt hashed password',
  `full_name` varchar(100) NOT NULL COMMENT 'Full name of user',
  `phone` varchar(20) DEFAULT NULL COMMENT 'Phone number',
  `avatar_url` varchar(500) DEFAULT NULL COMMENT 'Profile picture URL',
  `address` varchar(500) DEFAULT NULL COMMENT 'Street address',
  `ward` varchar(100) DEFAULT NULL COMMENT 'Ph╞░ß╗¥ng/X├ú',
  `district` varchar(100) DEFAULT NULL COMMENT 'Quß║¡n/Huyß╗çn',
  `city` varchar(100) DEFAULT NULL COMMENT 'Tß╗ënh/Th├ánh phß╗æ',
  `status` enum('active','inactive','suspended','pending') NOT NULL DEFAULT 'pending' COMMENT 'Account status',
  `email_verified_at` timestamp NULL DEFAULT NULL COMMENT 'Email verification timestamp',
  `last_login_at` timestamp NULL DEFAULT NULL COMMENT 'Last successful login',
  `last_login_ip` varchar(45) DEFAULT NULL COMMENT 'Last login IP address (IPv6 compatible)',
  `failed_login_attempts` int(10) unsigned NOT NULL DEFAULT 0,
  `locked_until` timestamp NULL DEFAULT NULL COMMENT 'Account lock expiry time',
  `password_changed_at` timestamp NULL DEFAULT NULL COMMENT 'Last password change',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `deleted_at` timestamp NULL DEFAULT NULL COMMENT 'Soft delete timestamp',
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_users_username` (`username`),
  KEY `idx_users_email` (`email`),
  KEY `idx_users_status` (`status`),
  KEY `idx_users_deleted_at` (`deleted_at`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='System users';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Temporary table structure for view `v_inbound_outbound_report`
--

DROP TABLE IF EXISTS `v_inbound_outbound_report`;
/*!50001 DROP VIEW IF EXISTS `v_inbound_outbound_report`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_inbound_outbound_report` AS SELECT
 1 AS `movement_type`,
  1 AS `movement_date`,
  1 AS `movement_year`,
  1 AS `movement_month`,
  1 AS `total_documents`,
  1 AS `total_quantity`,
  1 AS `total_amount` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `v_inventory_by_warehouse`
--

DROP TABLE IF EXISTS `v_inventory_by_warehouse`;
/*!50001 DROP VIEW IF EXISTS `v_inventory_by_warehouse`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_inventory_by_warehouse` AS SELECT
 1 AS `warehouse_id`,
  1 AS `warehouse_code`,
  1 AS `warehouse_name`,
  1 AS `product_id`,
  1 AS `sku`,
  1 AS `product_name`,
  1 AS `category_name`,
  1 AS `quantity_on_hand`,
  1 AS `quantity_reserved`,
  1 AS `quantity_available`,
  1 AS `total_value` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `v_inventory_summary`
--

DROP TABLE IF EXISTS `v_inventory_summary`;
/*!50001 DROP VIEW IF EXISTS `v_inventory_summary`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_inventory_summary` AS SELECT
 1 AS `product_id`,
  1 AS `sku`,
  1 AS `product_name`,
  1 AS `min_stock_level`,
  1 AS `reorder_point`,
  1 AS `total_on_hand`,
  1 AS `total_reserved`,
  1 AS `total_available`,
  1 AS `total_incoming`,
  1 AS `total_value`,
  1 AS `warehouse_count`,
  1 AS `stock_status` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `v_low_stock_products`
--

DROP TABLE IF EXISTS `v_low_stock_products`;
/*!50001 DROP VIEW IF EXISTS `v_low_stock_products`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_low_stock_products` AS SELECT
 1 AS `product_id`,
  1 AS `sku`,
  1 AS `product_name`,
  1 AS `min_stock_level`,
  1 AS `reorder_point`,
  1 AS `suggested_reorder_qty`,
  1 AS `current_quantity`,
  1 AS `supplier_id`,
  1 AS `supplier_name`,
  1 AS `supplier_email`,
  1 AS `supplier_phone` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `v_pending_issues`
--

DROP TABLE IF EXISTS `v_pending_issues`;
/*!50001 DROP VIEW IF EXISTS `v_pending_issues`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_pending_issues` AS SELECT
 1 AS `id`,
  1 AS `issue_number`,
  1 AS `issue_type`,
  1 AS `issue_date`,
  1 AS `required_date`,
  1 AS `total_items`,
  1 AS `total_quantity`,
  1 AS `total_amount`,
  1 AS `status`,
  1 AS `priority`,
  1 AS `customer_name`,
  1 AS `warehouse_name`,
  1 AS `created_by_name`,
  1 AS `created_at` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `v_pending_receipts`
--

DROP TABLE IF EXISTS `v_pending_receipts`;
/*!50001 DROP VIEW IF EXISTS `v_pending_receipts`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_pending_receipts` AS SELECT
 1 AS `id`,
  1 AS `receipt_number`,
  1 AS `receipt_type`,
  1 AS `receipt_date`,
  1 AS `expected_date`,
  1 AS `total_items`,
  1 AS `total_quantity`,
  1 AS `total_amount`,
  1 AS `status`,
  1 AS `supplier_name`,
  1 AS `warehouse_name`,
  1 AS `created_by_name`,
  1 AS `created_at` */;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `variant_attribute_values`
--

DROP TABLE IF EXISTS `variant_attribute_values`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `variant_attribute_values` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `variant_id` int(10) unsigned NOT NULL,
  `attribute_value_id` int(10) unsigned NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_variant_attribute` (`variant_id`,`attribute_value_id`),
  KEY `idx_vav_variant_id` (`variant_id`),
  KEY `idx_vav_attribute_value_id` (`attribute_value_id`)
) ENGINE=InnoDB AUTO_INCREMENT=56 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Li??n k???t variant v???i c??c attribute values';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `warehouse_zones`
--

DROP TABLE IF EXISTS `warehouse_zones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `warehouse_zones` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `warehouse_id` int(10) unsigned NOT NULL,
  `code` varchar(20) NOT NULL COMMENT 'Zone code: Z-A, Z-B, COLD-1',
  `name` varchar(100) NOT NULL COMMENT 'Zone name: Zone A, Cold Storage',
  `zone_type` enum('general','cold','hazardous','high_value','quarantine','staging','shipping','receiving') NOT NULL DEFAULT 'general',
  `description` text DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_warehouse_zone_code` (`warehouse_id`,`code`),
  KEY `idx_warehouse_zones_warehouse_id` (`warehouse_id`),
  KEY `idx_warehouse_zones_type` (`zone_type`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Zones/areas within warehouses';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `warehouses`
--

DROP TABLE IF EXISTS `warehouses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `warehouses` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `code` varchar(20) NOT NULL COMMENT 'Warehouse code: WH-001',
  `name` varchar(100) NOT NULL COMMENT 'Warehouse name',
  `description` text DEFAULT NULL,
  `address` varchar(500) DEFAULT NULL COMMENT 'Full address',
  `city` varchar(100) DEFAULT NULL,
  `state_province` varchar(100) DEFAULT NULL,
  `postal_code` varchar(20) DEFAULT NULL,
  `country` varchar(100) DEFAULT 'Vietnam',
  `phone` varchar(20) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `manager_id` int(10) unsigned DEFAULT NULL COMMENT 'Warehouse manager user ID',
  `capacity_volume` decimal(15,2) DEFAULT NULL COMMENT 'Total capacity in cubic meters',
  `capacity_weight` decimal(15,2) DEFAULT NULL COMMENT 'Total capacity in kg',
  `status` enum('active','inactive','maintenance') NOT NULL DEFAULT 'active',
  `created_by` int(10) unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `deleted_at` timestamp NULL DEFAULT NULL,
  `latitude` decimal(10,8) DEFAULT NULL,
  `longitude` decimal(11,8) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`),
  KEY `idx_warehouses_code` (`code`),
  KEY `idx_warehouses_status` (`status`),
  KEY `idx_warehouses_manager_id` (`manager_id`),
  KEY `idx_warehouses_deleted_at` (`deleted_at`),
  KEY `fk_warehouses_created_by` (`created_by`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Warehouse locations';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Final view structure for view `v_inbound_outbound_report`
--

/*!50001 DROP VIEW IF EXISTS `v_inbound_outbound_report`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_inbound_outbound_report` AS select 'inbound' AS `movement_type`,cast(`gr`.`receipt_date` as date) AS `movement_date`,year(`gr`.`receipt_date`) AS `movement_year`,month(`gr`.`receipt_date`) AS `movement_month`,count(`gr`.`id`) AS `total_documents`,sum(`gr`.`total_quantity`) AS `total_quantity`,sum(`gr`.`total_amount`) AS `total_amount` from `goods_receipts` `gr` where `gr`.`status` in ('approved','completed') and `gr`.`deleted_at` is null group by cast(`gr`.`receipt_date` as date),year(`gr`.`receipt_date`),month(`gr`.`receipt_date`) union all select 'outbound' AS `movement_type`,cast(`gi`.`issue_date` as date) AS `movement_date`,year(`gi`.`issue_date`) AS `movement_year`,month(`gi`.`issue_date`) AS `movement_month`,count(`gi`.`id`) AS `total_documents`,sum(`gi`.`total_quantity`) AS `total_quantity`,sum(`gi`.`total_amount`) AS `total_amount` from `goods_issues` `gi` where `gi`.`status` in ('approved','completed','shipped','delivered') and `gi`.`deleted_at` is null group by cast(`gi`.`issue_date` as date),year(`gi`.`issue_date`),month(`gi`.`issue_date`) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_inventory_by_warehouse`
--

/*!50001 DROP VIEW IF EXISTS `v_inventory_by_warehouse`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_inventory_by_warehouse` AS select `w`.`id` AS `warehouse_id`,`w`.`code` AS `warehouse_code`,`w`.`name` AS `warehouse_name`,`p`.`id` AS `product_id`,`p`.`sku` AS `sku`,`p`.`name` AS `product_name`,`c`.`name` AS `category_name`,coalesce(sum(`i`.`quantity_on_hand`),0) AS `quantity_on_hand`,coalesce(sum(`i`.`quantity_reserved`),0) AS `quantity_reserved`,coalesce(sum(`i`.`quantity_available`),0) AS `quantity_available`,coalesce(sum(`i`.`total_value`),0) AS `total_value` from (((`warehouses` `w` join `products` `p`) left join `inventories` `i` on(`w`.`id` = `i`.`warehouse_id` and `p`.`id` = `i`.`product_id`)) left join `categories` `c` on(`p`.`category_id` = `c`.`id`)) where `w`.`deleted_at` is null and `w`.`status` = 'active' and `p`.`deleted_at` is null and `p`.`status` = 'active' group by `w`.`id`,`w`.`code`,`w`.`name`,`p`.`id`,`p`.`sku`,`p`.`name`,`c`.`name` having `quantity_on_hand` > 0 */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_inventory_summary`
--

/*!50001 DROP VIEW IF EXISTS `v_inventory_summary`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_inventory_summary` AS select `p`.`id` AS `product_id`,`p`.`sku` AS `sku`,`p`.`name` AS `product_name`,`p`.`min_stock_level` AS `min_stock_level`,`p`.`reorder_point` AS `reorder_point`,coalesce(sum(`i`.`quantity_on_hand`),0) AS `total_on_hand`,coalesce(sum(`i`.`quantity_reserved`),0) AS `total_reserved`,coalesce(sum(`i`.`quantity_available`),0) AS `total_available`,coalesce(sum(`i`.`quantity_incoming`),0) AS `total_incoming`,coalesce(sum(`i`.`total_value`),0) AS `total_value`,count(distinct `i`.`warehouse_id`) AS `warehouse_count`,case when coalesce(sum(`i`.`quantity_on_hand`),0) <= `p`.`min_stock_level` then 'critical' when coalesce(sum(`i`.`quantity_on_hand`),0) <= `p`.`reorder_point` then 'low' else 'normal' end AS `stock_status` from (`products` `p` left join `inventories` `i` on(`p`.`id` = `i`.`product_id`)) where `p`.`deleted_at` is null and `p`.`status` = 'active' group by `p`.`id`,`p`.`sku`,`p`.`name`,`p`.`min_stock_level`,`p`.`reorder_point` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_low_stock_products`
--

/*!50001 DROP VIEW IF EXISTS `v_low_stock_products`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_low_stock_products` AS select `p`.`id` AS `product_id`,`p`.`sku` AS `sku`,`p`.`name` AS `product_name`,`p`.`min_stock_level` AS `min_stock_level`,`p`.`reorder_point` AS `reorder_point`,`p`.`reorder_quantity` AS `suggested_reorder_qty`,coalesce(sum(`i`.`quantity_on_hand`),0) AS `current_quantity`,`s`.`id` AS `supplier_id`,`s`.`name` AS `supplier_name`,`s`.`email` AS `supplier_email`,`s`.`phone` AS `supplier_phone` from ((`products` `p` left join `inventories` `i` on(`p`.`id` = `i`.`product_id`)) left join `suppliers` `s` on(`p`.`supplier_id` = `s`.`id`)) where `p`.`deleted_at` is null and `p`.`status` = 'active' group by `p`.`id`,`p`.`sku`,`p`.`name`,`p`.`min_stock_level`,`p`.`reorder_point`,`p`.`reorder_quantity`,`s`.`id`,`s`.`name`,`s`.`email`,`s`.`phone` having `current_quantity` <= `p`.`reorder_point` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_pending_issues`
--

/*!50001 DROP VIEW IF EXISTS `v_pending_issues`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_pending_issues` AS select `gi`.`id` AS `id`,`gi`.`issue_number` AS `issue_number`,`gi`.`issue_type` AS `issue_type`,`gi`.`issue_date` AS `issue_date`,`gi`.`required_date` AS `required_date`,`gi`.`total_items` AS `total_items`,`gi`.`total_quantity` AS `total_quantity`,`gi`.`total_amount` AS `total_amount`,`gi`.`status` AS `status`,`gi`.`priority` AS `priority`,`gi`.`customer_name` AS `customer_name`,`w`.`name` AS `warehouse_name`,`u`.`full_name` AS `created_by_name`,`gi`.`created_at` AS `created_at` from ((`goods_issues` `gi` join `warehouses` `w` on(`gi`.`warehouse_id` = `w`.`id`)) left join `users` `u` on(`gi`.`created_by` = `u`.`id`)) where `gi`.`status` = 'pending' and `gi`.`deleted_at` is null order by case `gi`.`priority` when 'urgent' then 1 when 'high' then 2 when 'normal' then 3 when 'low' then 4 end,`gi`.`created_at` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_pending_receipts`
--

/*!50001 DROP VIEW IF EXISTS `v_pending_receipts`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_pending_receipts` AS select `gr`.`id` AS `id`,`gr`.`receipt_number` AS `receipt_number`,`gr`.`receipt_type` AS `receipt_type`,`gr`.`receipt_date` AS `receipt_date`,`gr`.`expected_date` AS `expected_date`,`gr`.`total_items` AS `total_items`,`gr`.`total_quantity` AS `total_quantity`,`gr`.`total_amount` AS `total_amount`,`gr`.`status` AS `status`,`s`.`name` AS `supplier_name`,`w`.`name` AS `warehouse_name`,`u`.`full_name` AS `created_by_name`,`gr`.`created_at` AS `created_at` from (((`goods_receipts` `gr` left join `suppliers` `s` on(`gr`.`supplier_id` = `s`.`id`)) join `warehouses` `w` on(`gr`.`warehouse_id` = `w`.`id`)) left join `users` `u` on(`gr`.`created_by` = `u`.`id`)) where `gr`.`status` = 'pending' and `gr`.`deleted_at` is null order by `gr`.`created_at` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-23 16:45:28
